<h2>Genre</h2>

<br/>

<table>

  <% for genre in @genres %>
      <tr>
        <td><%= h genre.name %></td>
        <% if permitted_to? :edit, genre %>
            <td><%= link_to 'endre', edit_genre_path(genre) %></td>
        <% end %>
        <% if permitted_to? :destroy, genre %>
            <td>
              <% if genre.notes.size() == 0 && genre.evensongs.size() == 0 %>
                  <%= link_to 'slett', genre, :confirm => 'Er du sikker?',
                              :method => :delete %>
              <% else %>
                  <ul>
                    <% if genre.notes.size() > 0 %>
                        <li>
                          <%= genre.notes.size() %>
                          <% if genre.notes.size() == 1 %>
                              note
                          <% else %>
                              noter
                          <% end %>
                        </li>
                    <% end %>
                    <% if genre.evensongs.size() > 0 %>
                        <li>
                          <%= genre.evensongs.size() %> evensong
                          <% if genre.evensongs.size() == 1 %>
                              note
                          <% else %>
                              noter
                          <% end %>
                        </li>
                    <% end %>
                  </ul>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Ny genre', new_genre_path if permitted_to? :new, :genres %>
