<h1>Ny genre</h1>

<% form_for(@genre) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Opprett" %>
  </p>
<% end %>

<%= link_to 'Tilbake', genres_path %>