<% content_for :head do %>
    <script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        jQuery.fn.dataTableExt.oSort['html-numeric-asc'] = function(a, b) {
            var x = a.replace(/<.*?>/g, "") * 1;
            var y = b.replace(/<.*?>/g, "") * 1;
            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
        };

        jQuery.fn.dataTableExt.oSort['html-numeric-desc'] = function(a, b) {
            var x = a.replace(/<.*?>/g, "") * 1;
            var y = b.replace(/<.*?>/g, "") * 1;
            return ((x < y) ? 1 : ((x > y) ? -1 : 0));
        };

        $(document).ready(function()
        {
            $('#noteTable').dataTable({
                "bPaginate": false,
                "bInfo": false,
                "oLanguage": {
                    "sSearch": "S&oslash;k:",
                    "sZeroRecords": "Ingen treff"
                },
                "aoColumns": [
                    {
                        "sType": "html-numeric"
                    },
                    {
                        "sType": "html"
                    },
                    null,
                    null,
                    null,
                    {
                        "bSortable": false
                    },
                    null,
                    {
                        "bSearchable": false
                    }
                ],
                "aaSorting": [
                    [1,'asc']
                ]
            });
        }
                );
    </script>
<% end %>

<h2>Noter</h2>

<p>
  <% if permitted_to? :new, :notes %>
      <%= link_to 'Ny note', new_note_path %>
      |
  <% end %>
  <%= link_to 'Last ned', noteexcel_url %>
</p>

<table id="noteTable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Tittel</th>
    <th>Komponist</th>
    <th>Genre</th>
    <th>Epoke</th>
    <th>Språk</th>
    <th>Akkomp.</th>
    <th>Fil</th>
  </tr>
  </thead>
  <tbody>
  <% for note in @notes %>
      <tr>
        <td>
          <% link_to(note) do %>
              <%= note.item %>
          <% end %>
        </td>
        <td>
          <% link_to(note) do %>
              <%= note.title %>
          <% end %>
        </td>
        <td><%= note.composer.name if note.composer %></td>
        <td><%= note.genre.name if note.genre %></td>
        <td><%= note.period.name if note.period %></td>
        <td>
          <% if note.languages.size() > 0 %>
              <ul>
                <% note.languages.each do |lang| %>
                    <li><%= lang.name %></li>
                <% end %>
              </ul>
          <% end %>
        </td>
        <td><%= note.instrument %></td>
        <td><%= list_link_dropbox_files(note) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<p>
  <% if permitted_to? :new, :notes %>
      <%= link_to 'Ny note', new_note_path %>
      |
  <% end %>
  <%= link_to 'Last ned', noteexcel_url %>
</p>
