<h2>Noter</h2>

<p><%= link_to 'Last ned', noteexcel_url %></p>

<table id="noteTable" class="tablesorter">
  <thead>
  <tr>
    <th>ID</th>
    <th>Tittel</th>
    <th>Komponist</th>
    <th>Genre</th>
    <th>Epoke</th>
    <th>Fil</th>
  </tr>
  </thead>
  <tbody>
  <% for note in @notes %>
      <tr>
        <td>
          <% link_to(note) do %>
              <%= note.item %>
          <% end %>
        </td>
        <td>
          <% link_to(note) do %>
              <%= note.title %>
          <% end %>
        </td>
        <td><%= note.composer.name if note.composer %></td>
        <td>PLACEHOLDER</td>
        <td>PLACEHOLDER</td>
        <td><%= link_to_note_file(note) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Ny note', new_note_path %>

<script type="text/javascript">
    $(document).ready(function()
    {
        $("#noteTable").tablesorter( {sortList: [[0,0], [1,0]], textExtraction: "complex"} );
    }
            );
</script>