<% content_for :head do %>
    <script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function()
        {
            $('#noteTable').dataTable({
                "bPaginate": false,
                "bInfo": false,
                "oLanguage": {
                    "sSearch": "Filtrere i tabellen:",
                    "sZeroRecords": "Ingen treff"
                },
                "aoColumns": [
                    {
                        "sType": "html"
                    },
                    {
                        "sType": "html"
                    },
                    null,
                    null,
                    null,
                    null,
                    {
                        "bSearchable": false
                    }
                ]
            });
        }
                );
    </script>
<% end %>

<h2>Noter</h2>

<p><%= link_to 'Last ned', noteexcel_url %></p>

<table id="noteTable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Tittel</th>
    <th>Komponist</th>
    <th>Genre</th>
    <th>Epoke</th>
    <th>Akkomp.</th>
    <th>Fil</th>
  </tr>
  </thead>
  <tbody>
  <% for note in @notes %>
      <tr>
        <td>
          <% link_to(note) do %>
              <%= note.item %>
          <% end %>
        </td>
        <td>
          <% link_to(note) do %>
              <%= note.title %>
          <% end %>
        </td>
        <td><%= note.composer.name if note.composer %></td>
        <td><%= note.genre.name if note.genre %></td>
        <td><%= note.period.name if note.period %></td>
        <td><%= note.instrument %></td>
        <td><%= link_to_note_file(note) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Ny note', new_note_path %>
