<h2>Note: <%= @note.title %></h2>

<br/>

<table>

  <tr>
    <td>ID</td>
    <td><%= @note.item %></td>
  </tr>

  <tr>
    <td>Tittel</td>
    <td><%= @note.title %></td>
  </tr>

  <tr>
    <td>Komponist</td>
    <td>
      <%= @note.composer.name if @note.composer %>
    </td>
  </tr>

  <tr>
    <td>Besetning</td>
    <td><%= @note.voice %></td>
  </tr>

  <tr>
    <td>Antall original</td>
    <td><%= @note.count_originals %></td>
  </tr>

  <tr>
    <td>Antall kopi</td>
    <td><%= @note.count_copies %></td>
  </tr>

  <tr>
    <td>Antall instrumental</td>
    <td><%= @note.count_instrumental %></td>
  </tr>

  <tr>
    <td>Fil</td>
    <td><%= link_to_note_file(@note, true) %></td>
  </tr>

</table>

<br/>

<%= link_to 'Endre', edit_note_path %>
<br/>
<%= link_to 'Tilbake', notes_path %>