<h1>Ny evensong genre</h1>

<% form_for(@evensong_genre) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Opprett" %>
  </p>
<% end %>

<%= link_to 'Tilbake', evensong_genres_path %>