<h2>Språk</h2>

<br/>

<table>

  <% for language in @languages %>
      <tr>
        <td><%= h language.name %></td>
        <% if permitted_to? :edit, language %>
            <td><%= link_to 'endre', edit_language_path(language) %></td>
        <% end %>
        <% if permitted_to? :destroy, language %>
            <td>
              <% if language.notes.size() == 0 %>
                   <%= link_to 'slett', language, :confirm => 'Er du sikker?',
                               :method => :delete %>
               <% else %>
                   <ul>
                     <% if language.notes.size() > 0 %>
                         <li>
                           <%= language.notes.size() %>
                           <% if language.notes.size() == 1 %>
                               note
                           <% else %>
                               noter
                           <% end %>
                         </li>
                     <% end %>
                   </ul>
               <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>

<% if permitted_to? :new, :languages %>
    <% content_for :links do %>
        <div class="box">
          <h2>Epoker</h2>
          <ul>
            <li><%= link_to 'Ny språk', new_language_path %></li>
          </ul>
        </div>
    <% end %>
<% end %>
