<h2>Komponister</h2>

<br/>

<table>

  <% for composer in @composers %>
      <tr>
        <td><%= h composer.name %></td>

        <% if permitted_to? :edit, composer %>
            <td><%= link_to 'endre', edit_composer_path(composer) %></td>
        <% end %>
        <% if permitted_to? :destroy, composer %>
            <td>
              <% if composer.notes.size() == 0 && composer.evensongs.size() == 0 %>
                  <%= link_to 'slett', composer, :confirm => 'Er du sikker?',
                              :method => :delete %>
              <% else %>
                  <ul>
                    <% if composer.notes.size() > 0 %>
                        <li>
                          <%= composer.notes.size() %>
                          <% if composer.notes.size() == 1 %>
                              note
                          <% else %>
                              noter
                          <% end %>
                        </li>
                    <% end %>
                    <% if composer.evensongs.size() > 0 %>
                        <li>
                          <%= composer.evensongs.size() %>
                          <% if composer.evensongs.size() == 1 %>
                              evensongnote
                          <% else %>
                              evensongnoter
                          <% end %>
                        </li>
                    <% end %>
                  </ul>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Ny komponist', new_composer_path  if permitted_to? :new, :composers %>
