<tr>
  <td>
    <%= link_to(evensong) do %>
        <%= evensong.title %>
    <% end %>
  </td>
  <td><%= evensong.psalm %></td>
  <td><%= evensong.composer.name if evensong.composer %></td>
  <td><%= evensong.genre.name if evensong.genre %></td>
  <td>
    <% if (!evensong.has_attachment?) && permitted_to?(:edit, evensong) %>
        <%= link_to 'Last&nbsp;opp'.html_safe, edit_evensong_path(evensong) %>
    <% else %>
        <%= list_link_dropbox_files(evensong) %>
    <% end %>
    <ul class="external">
      <% if permitted_to?(:show, :links) %>
          <% if evensong.links %>
              <% evensong.links.each do |link| %>
                  <li><%= link_to link.title, link.url %></li>
              <% end %>
          <% end %>
      <% end %>
      <% if permitted_to?(:new, :links) %>
          <li><%= link_to 'Ny lenke', new_link_path(:evensong => evensong.id) %></li>
      <% end %>
    </ul>
  </td>
</tr>
