<h2>Evensong</h2>

<p><%= link_to 'Last ned', evensongexcel_url %></p>

<table id="noteTable" class="tablesorter">
  <thead>
  <tr>
    <th>Tittel</th>
    <th>Salme</th>
    <th>Komponist</th>
    <th>Genre</th>
    <th>Fil</th>
  </tr>
  </thead>
  <tbody>
  <% for evensong in @evensongs %>
      <tr>
        <td>
          <% link_to(evensong) do %>
              <%= evensong.title %>
          <% end %>
        </td>
        <td><%= evensong.psalm %></td>
        <td><%= evensong.composer.name if evensong.composer %></td>
        <td><%= evensong.genre.name if evensong.genre %></td>
        <td><%= link_to_evensong_file(evensong) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Ny evensong', new_evensong_path %>

<script type="text/javascript">
    $(document).ready(function()
    {
        $("#noteTable").tablesorter(
        {
            sortList: [[0,0]],
            textExtraction: "complex",
            headers: { 1: { sorter:'digit' } }
        }
                );
    }
            );
</script>