<% content_for :head do %>
    <script type="text/javascript" src="/js/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function()
        {
            $('#noteTable').dataTable({
                "bPaginate": false,
                "bInfo": false,
                "oLanguage": {
                    "sSearch": "Filtrere i tabellen:",
                    "sZeroRecords": "Ingen treff"
                },
                "aoColumns": [
                    {
                        "sType": "html"
                    },
                    null,
                    null,
                    null,
                    {
                        "bSearchable": false
                    }
                ]
            });
        }
                );
    </script>
<% end %>

<h2>Evensong</h2>

<p><%= link_to 'Last ned', evensongexcel_url %></p>

<table id="noteTable">
  <thead>
  <tr>
    <th>Tittel</th>
    <th>Salme</th>
    <th>Komponist</th>
    <th>Genre</th>
    <th>Fil</th>
  </tr>
  </thead>
  <tbody>
  <% for evensong in @evensongs %>
      <tr>
        <td>
          <% link_to(evensong) do %>
              <%= evensong.title %>
          <% end %>
        </td>
        <td><%= evensong.psalm %></td>
        <td><%= evensong.composer.name if evensong.composer %></td>
        <td><%= evensong.genre.name if evensong.genre %></td>
        <td><%= link_to_evensong_file(evensong) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Ny evensong', new_evensong_path %>
