<h2>Evensongnote: <%= @evensong.title %></h2>

<br/>

<table>

  <tr>
    <td>Tittel</td>
    <td><%= @evensong.title %></td>
  </tr>

  <tr>
    <td>Salme</td>
    <td><%= @evensong.psalm %></td>
  </tr>

  <tr>
    <td>Solister</td>
    <td><%= @evensong.soloists %></td>
  </tr>

  <tr>
    <td>Komponist</td>
    <td>
      <%= @evensong.composer_name %>
    </td>
  </tr>

  <tr>
    <td>Genre</td>
    <td>
      <%= @evensong.genre_name %>
    </td>
  </tr>

  <tr>
    <td>Kommentar</td>
    <td>
      <%= @evensong.comment %>
    </td>
  </tr>

  <tr>
    <td>Fil</td>
    <td><%= list_link_dropbox_files(@evensong) %></td>
  </tr>

  <% if permitted_to?(:show, :links) %>
      <tr>
        <td>Lenker</td>
        <td>
          <ul>
            <% @evensong.links.each do |link| %>
                <li>
                  <% if permitted_to?(:edit, :links) %>
                      <%= link_to '[R] ', edit_link_path(link), :title => "Rediger" %>
                  <% end %>
                  <% if permitted_to?(:destroy, :links) %>
                      <%= link_to '[S] ', link, :title => "Slett", :confirm => 'Sikker?', :method => :delete %>
                  <% end %>
                  <%= link_to link.title, link.url, :class => 'link_out' %>
                </li>
            <% end %>
            <% if permitted_to?(:new, :links) %>
                <li><%= link_to 'Ny lenke', new_link_path(:evensong => @evensong.id) %></li>
            <% end %>
          </ul>
        </td>
      </tr>
  <% end %>
</table>

<% content_for :links do %>
    <div class="box">
      <h2>Evensongnote</h2>
      <ul>
        <% if permitted_to? :edit, @evensong %>
            <li><%= link_to 'Endre', edit_evensong_path %></li>
        <% end %>
        <% if permitted_to? :destroy, @evensong %>
            <li><%= link_to 'Slett', @evensong, :confirm => 'Sikker?', :method => :delete %></li>
        <% end %>
        <li><%= link_to 'Tilbake til evensongnoter', evensongs_path %></li>
      </ul>
    </div>
<% end %>
