<!DOCTYPE html>
<html>
<head>
  <title>Arkiv for noter &amp; evensongnoter</title>
  <%= render :partial => '/layouts/webfonts' %>
  <%= stylesheet_link_tag 'style', 'jquery.autocomplete', 'thickbox', 'formtastic', 'formtastic_changes', 'tabs', 'application' %>
  <%= javascript_include_tag 'jquery', 'jquery.dataTables.min', 'rails' %>
  <%= javascript_include_tag 'jquery.autocomplete.min', 'jquery.bgiframe.min', 'jquery.ajaxQueue', 'thickbox-compressed', 'tabs.min' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>

</head>
<body>
<div id="header">
  <h1>Arkiv for noter &amp; evensongnoter</h1>

  <div id="menu">
    <ul id="nav">
      <% if current_user %>
          <li><%= link_to 'Noter', notes_path %></li>
          <li><%= link_to 'Evensongnoter', evensongs_path %></li>
          <li><%= link_to 'Søk', search_path %></li>
      <% end %>
      <li><a href="http://www.ochs.no">OCHS</a></li>
    </ul>
  </div>
</div>
<div id="content">
  <div id="right">
    <p style="color: green"><%= flash[:notice] %></p>

    <p style="color: red"><%= flash[:error] %></p>

    <%= yield %>
  </div>

  <div id="left">
    <% if current_user %>

        <%= render :partial => '/layouts/user_links' %>

        <%= render :partial => '/layouts/dropbox' %>

        <%= render :partial => '/layouts/metadata' %>

    <% end %>

    <%= render :partial => '/layouts/credit' %>
  </div>
</div>
<%= render :partial => '/layouts/woopra' %>
<%= render :partial => '/layouts/google_analytics' %>
</body>
</html>
