<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Arkiv for noter &amp; evensongnoter</title>
	<%= stylesheet_link_tag 'style', :media => 'all' %>
	<%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>
	<%= yield :head %>
</head>
<body>
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', '<%= ENV['GA_ACCOUNT'] %>']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script');
	ga.type = 'text/javascript';
	ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
	})();

	</script>
	<div id="header">
		<h1>Arkiv for noter &amp; evensongnoter</h1>

		<div id="menu">
			<ul id="nav">
				<% if current_user %>
				<li><%= link_to 'Noter', notes_path %></li>
				<li><%= link_to 'Evensongnoter', evensongs_path %></li>
				<li><a href="http://intranett.ochs.no">Intranett</a></li>
				<% end %>
				<li><a href="http://www.ochs.no">OCHS</a></li>
			</ul>
		</div>
	</div>
	<div id="content">
		<div id="right">
			<p style="color: green"><%= flash[:notice] %></p>

			<p style="color: red"><%= flash[:error] %></p>

			<%= yield %>
		</div>

		<div id="left">
			<% if current_user %>
			<div class="box">
				<h2><%= current_user.display_name %></h2>
				<ul>
					<li><%= link_to 'Logg av', logout_path %></li>
					<% if permitted_to? :index, :account %>
					<li><%= link_to 'Min konto', account_index_path %></li>
					<% end %>
					<% if permitted_to? :index, :users %>
					<li><%= link_to 'Brukere', users_path %></li>
					<% end %>
					<% if permitted_to? :index, :stats %>
					<li><%= link_to 'Filstatistikk', stats_path %></li>
					<% end %>
				</ul>
			</div>

			<% if permitted_to? :authorize, :session_caches %>
			<div class="box">
				<h2>Oppdater dropbox godkjenning</h2>
				<p>Hvis filhenting har sluttet å fungere du kan prøve å re-godkjenne. Det er ikke noe garanti - det kan bare være at ting har timet ut. Men - du <b>MÅ</b> ha dropbox brukernavn og passord for OCHS liggende før du klikke ellers vil du risikere å fjerne en fungerende kobling som har bare tatt for lang tid.</p>
				<ul>
					<li><%= link_to 'Dropbox godkjenning', authorize_path %></li>
				</ul>
			</div>
			<% end %>


			<div class="box">
				<h2>Metadata for Noter &amp; Evensongnoter</h2>

				<ul>
					<li><%= link_to 'Komponister', composers_path %></li>
					<li><%= link_to 'Genre', genres_path %></li>
				</ul>
			</div>

			<div class="box">
				<h2>Metadata for Noter</h2>

				<ul>
					<li><%= link_to 'Epoker', periods_path %></li>
					<li><%= link_to 'Språk', languages_path %></li>
				</ul>
			</div>
			<% end %>

			<div class="box">
				<div style="font-size: 0.8em;">Design by
					<a href="http://www.minimalistic-design.net">Minimalistic Design</a>
					<br/>
					Icons by <a href="http://www.famfamfam.com/lab/icons/silk/">Mark James</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Woopra Code Start -->
	<script type="text/javascript" src="//static.woopra.com/js/woopra.v2.js"></script>
	<script type="text/javascript">
	<% if current_user %>
	woopraTracker.addVisitorProperty("name", "<%= current_user.display_name %>");
	woopraTracker.addVisitorProperty("username", "<%= current_user.username %>");
	<% end %>
	woopraTracker.track();
	</script>
	<!-- Woopra Code End -->
</body>
</html>
